
/* htmlタグとbodyの使い分けは？ */
html {
  padding: 0;
  font-size: 10px;
  background-color: #dcdcdc;
  
}

body {
  margin: 0;
}


/*** header and Nav ***/
header {
  /* position: fixed; */
  width: 100%;
  height: 10%;
  align-items: center;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin: 0 0 0 100px;
}

.Nav {
  display: flex;
  margin-right: 100px;
  align-items: center;
}

.Nav > ul {
  list-style-type: none;
  font-size: 10px;
  display: flex;
  margin: 0 700px 0 0;
  white-space: nowrap;
  
}

.Nav > ul > div {
  margin:30px;
  font-size: 20px;
}

.Nav > form {
  width: 100%;
  align-items: center;
  display: flex;
  margin-right: 30px;;
}

.Nav > form > input {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}


.Nav > form > button.search-button {
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  width: 40px;
  height: 36px;
  margin-right: 30px;
}

.Nav > form > button.login {
  border: 1px solid #4682b4;
  background: #4682b4;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  width: 100px;
  height: 36px;
}

/*** main page ***/
main {
  color: palevioletred;
  bottom: 0px;
}

footer {
  width: 100%;
  height: 5%;
  position: absolute;/*←絶対位置*/
  bottom: 0;
  background-color: #000000;
  color: white;
}


/* このコードって何？ */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
